.heading{
  color: purple;
  text-align: center;
}

.event-img{
  height: 180px;
  width: 180px;
  border-radius: 8px;
}

.event-box{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px;
}

.event-card{
  background-color: antiquewhite;
  width: 250px;
  height:auto;
  border: 3px solid #ccc;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 16px;
  text-align: center;
  flex-direction: column;
  align-items: center;
}